<%= form_for [:admin, @product] do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='main-form'>
    <div>
      <div class='form-label'>
        <%= f.label :category %>
      </div>
      <div class='form-list'>
        <%= f.collection_select :category_id, Category.all, :id, :name  %>
      </div>
    </div>
    <div>
      <div class='form-label'>
        <%= f.label :brand %>
      </div>
      <div class='form-list'>
        <%= f.collection_select :brand_id, Brand.all, :id, :name %>
      </div>
    </div>

    <div class="field">
      <div class='form-label'>
        <%= f.label :title %>
      </div>
      <div class='form-text'>
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="field">
      <div class='form-label'>
        <%= f.label :description %>
      </div>
      <div class='form-text'>
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="form-action">
      <%= f.submit %>
    </div>
  </div>
<% end %>
