<%= form_for [:admin, @product] do |f| %>
  <%= render partial: '/errors', locals: { tag: @product } %>
  <div class='main-form'>
    <div>
      <div class='form-label'>
        <%= f.label :category %>
      </div>
      <div class='form-list'>
        <% #FIXME_AB: Should not refer model directly in views. -%>
        <%= f.collection_select :category_id, Category.all, :id, :name  %>
      </div>
    </div>
    <div>
      <div class='form-label'>
        <%= f.label :brand %>
      </div>
      <div class='form-list'>
        <% #FIXME_AB: Should not refer model directly in views. -%>
        <%= f.collection_select :brand_id, Brand.all, :id, :name %>
      </div>
    </div>

    <div class="field">
      <div class='form-label'>
        <%= f.label :title %>
      </div>
      <div class='form-text'>
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="field">
      <div class='form-label'>
        <%= f.label :description %>
      </div>
      <div class='form-text'>
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="form-action">
      <%= f.submit %>
    </div>
  </div>
<% end %>
