<div class="head">
  <h3>Listing products</h3>
</div>
<div class="head">
  <%= button_to 'New Product', new_admin_product_path, class: 'new-btn', method: :get %>
</div>

<table class="table table-striped product-table">
  <th>Title</th>
  <th>Description</th>
  <th>Actions</th>
  <%= paginate @products %>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.description %></td>
      <td class="list_actions">
        <%= link_to 'Show Product', admin_product_path(product), class: 'btn btn-mini' %>
        <%= link_to 'Edit', edit_admin_product_path(product), class: 'btn btn-mini' %>
        <%= link_to 'Destroy', admin_product_path(product), method: :delete,
        data: { confirm: "You are going to delete #{ product.title } product. Sure?" }, class: 'btn btn-mini' %>
      </td>
    </tr>
  <% end %>
</table>
