<%= form_for([:admin, @brand]) do |f| %>
  
  <%= render partial: '/errors', locals: { tag: @brand } %>

<div class='main-form'>
  <div>
    <div class='form-label'>
      <%= f.label :name %>
    </div>
    <div class='form-text'>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="form-action">
    <%= f.submit %>
  </div>
</div>
<% end %>
