<%= form_for([:admin, @category]) do |f| %>
  <%= render partial: '/errors', locals: { tag: @category } %>
  

  <div class='main-form'>
    <div>
      <div class='form-label'>
        <%= f.label :name %>
      </div>
      <div class='form-text'>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="form-action">
      <%= f.submit %>
    </div>
  </div>
<% end %>
