<%= form_for([:admin, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='main-form'>
    <div>
      <div class='form-label'>
        <%= f.label :name %>
      </div>
      <div class='form-text'>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="form-action">
      <%= f.submit %>
    </div>
  </div>
<% end %>
