<div id='display-container' class="span8">
  <div id="latest-products-container">
    <% @products.each do |product| %>
      <% product.colors.each do |color| %> 
        <div class="latest-products" id="product_<%= product.id %>"  data-color="<%= color.name %>" data-brand="<%= product.brand.name %>" data-sizes="<%= product.colors.collect { |color| color.sizes.pluck(:name) }.flatten.uniq %>">
          <div class='latest-products-image'>
            <%= image_tag(color.images.first.file.url(:medium), class: 'latest-color-image') %>
            <%= button_to 'Quick View', product_path({id: product.id, color_id: color.id}), class: 'quick-view visibility btn', method: :get %>
          </div>
          <div class="latest-products-desc">
            <div>
              <h5><%= product.title.upcase %></h5>
            </div>
            <div>
              <p class='inline-tile'><%= product.description.truncate(20) %></p>
            </div>
            <div>
              <h5 class='inliner-tile'> BRAND: </h5>
              <p class='inliner-tile'><%= product.brand.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% filters_hash = extract_filters_from_products(@products) %>
<div id="filters" class="span2">
  <div class="filter-heading"> Colors </div>
  <div id="color-filters">
    <% filters_hash[:color].each do |color| %>
      <div class="filterElement">
        <input type="checkbox" value="<%= color %>">
          <span class="filterName"><%= color %></span>
          <br>
      </div>
    <% end %>
  </div>
  <div class="filter-heading"> Brands </div>
  <div id="brand-filters">
    <% filters_hash[:brand].each do |brand| %>
      <div class="filterElement">
        <input type="checkbox" value="<%= brand %>">
          <span class="filterName"><%= brand %></span>
          <br>
      </div>
    <% end %>
  </div>
</div>