<div class="product-focus span8">
  <div class="alert fade in alert-danger visibility" id="before-add"></div>
  <div class="product-angles">
    <% @color.images.each do |image| %>
      <div class='angle' data-focussed-image="<%= image.thumbnail(:medium) %>">
        <%= image_tag(image.thumbnail(:small), class: 'small-image') %>
      </div>
    <% end%>
  </div>

  <div class='product-in-focus'>
    <%#FIXME_AB: Make a method in color model, so that you can call that for thumbnail with and argument for the size of thumbnail. like: color.thumbnail(:medium) -%>
    <%= image_tag(@color.thumbnail_in_focus(:medium)) %>
    <%#fixed -%>
  </div>

  <div id='offer-sizes'>
    <div id='size-name' class='block-tile'>
      <p class='inline-tile'> SELECT SIZE - </p>
      <span id='selected-size-value' class='inline-tile'><strong><%= @color.sizes.first.name %></strong></span>
    </div>
    <div class='size-container'>
      <% @color.sizes.each do |size| %>
        <div class='size-all' data-id="<%= size.id %>">
          <span>
            <%= size.name %>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <div id='details-tab-container'>
    <div id='details-tab'>
      <p>Details</p>
    </div>
    <div id="details-tab-content" >
      <div>
        <h5><%= @product.title.upcase %></h5>
      </div>
      <div>
        <p class='inline-tile'><%= @product.description %></p>
      </div>
      <div>
        <h5 class='inliner-tile'> BRAND: </h5>
        <p class='inliner-tile'><%= @product.brand.name %></p>
      </div>
    </div>
  </div>

  <div id='color-avail'>
    <% @product.colors.each do |color| %>
      <% data_images, data_image_angles = [], [] %>
      <% color.images.each do |image| %>
        <% data_images.push(image.thumbnail(:small)) %>
        <% data_image_angles.push(image.thumbnail(:medium)) %>
      <% end %>
      <div class='color-all' data-images="<%= data_images %>" data-focussed-image="<%= color.images.first.file.url(:medium) %>" data-image-angles="<%= data_image_angles %>" data-sizes="<%= color.sizes.pluck(:name).flatten %>" data-size-ids="<%= color.sizes.pluck(:id).flatten %>">
        <%#FIXME_AB: Make a method in color model, so that you can call that for thumbnail with and argument for the size of thumbnail. like: color.thumbnail(:small) -%>
        <%= image_tag(color.thumbnail_in_focus(:small), class: 'small-image') %>
        <%#fixed -%>
      </div>
    <% end %>
  </div>
</div>

<div class='inline-tile cart-btn'>
  <a id="cart-link" href="<%= cart_path(Cart.find_by(id: session[:cart_id]))%>">Cart(<span id="cart-count"><%= Cart.find_by(id: session[:cart_id]).try(:line_items).try(:count) %></span>)</a><br/>
  <button type="button" class="btn btn-success add-btn" id="add-cart" data-href="<%= carts_path %>">Add To Cart</button>
</div>