<%= form_for [:admin, @color], :html => { multipart: true} do |f| %>
<% #FIXME_AB: THis code of displaying error message is being repeated many times, What can we do for this -%>
  <%= render partial: '/errors', locals: { tag: @color } %>

  <table class="table color-table">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th></th>
      </tr>
      <tr>
        <td>
            <%= f.text_field :name, class: 'size-text-field' %>
        </td>
        <td>
          <%= f.fields_for :images do |builder| %>
            <%= render 'image_fields', :f => builder %>
          <% end %>
          <div>
            <%= link_to_add_fields "Add More", f, :images %>
          </div>
        </td>

        <td>
          <%= f.submit %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
